* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: dimgrey;
}

body {
    background-image: url("img/1386514.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    width: 100%;
    height: 100px;
    padding: 0 10%;
    background-color: rgb(46, 46, 46);
    position: sticky;
    top: 0;
    z-index: 999;
    padding-bottom: 12px;
    box-shadow: 0 8px 6px 0px rgba(0, 0, 0, 0.2);

}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 20%;

}

nav {
    width: 100%;
    display: flex;
    align-items: center;


}

.header-left ul li {
    display: inline-block;
    list-style: none;
    padding: 30px;
}

.header-left ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-left ul li a:hover {
  text-decoration: none;
  color: rgb(235, 71, 71);
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 200px;

}

.header-right .search-bar {
    background-color: rgb(139, 133, 133);
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: all 0.5s ease;
    margin-right: 50px;
}

.header-right .search-bar .search-input {
    width: 100%;
    height: 50px;
    background: transparent;
    color: white;
    padding: 10px 70px 10px 10px;
    border: none;
    outline: none;
}

.header-right .search-bar .search-input::placeholder {
    color: white;
}

.header-right .search-bar .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 20;
    border: none;
    outline: none;
}

.search-bar.open {
    width: 300px;

}

.header-right .ddl-profile-menu img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-right .ddl-profile-menu a {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
}

.header-right .ddl-profile {
    background-color: #4f4f4f;
    color: white;
    padding-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 40px 25px 25px 40px;
}

.header-right .ddl-profile-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-right .ddl-profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.header-right .ddl-profile-menu:hover .ddl-profile-content {
    display: block;

}

.header-right .ddl-profile-menu:hover .ddl-profile {
    background-color: rgb(85, 82, 82);
    ;
    border-radius: 40px 15px 0 0;
}

.header-right .ddl-profile-menu .ddl-profile-content a:hover {
    background-color: gray;
}

.container {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    
}

.container .main {
    height: 100%;
    background-color: rgb(43, 48, 48);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.container .content {
    padding: 20px;
    color: yellow;

}

.group-film {
    display: flex;
    height: 300px;
}

.group-film .film-display {
    position: relative;
    padding-top: 5px;

}

.group-film .film-display img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.group-film .film-display h5 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    padding: 10px;
}



.group-film .film-display i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.group-film .film-display:hover i {
    margin-top: 5px;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 40%;

}


/* .login-box .login-input{
    text-align: center;
    padding-top: 100px;
}

.login-box .login-input .input-box{
    padding-bottom: 20px;
    border-radius: 50%;
} */

.text-center {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin: -50px 0 80px 0;
    display: block;
    /* text-align: center; */

  }

  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 700px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 70px 100px;
    box-shadow:5px 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .input-container {
    position: relative;
    margin-bottom: 40px;

  }

  .input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    /* pointer-event: none; */
    transition: all 0.5s ease-in-out;
  }

  .input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
    width: 100%;
  }

  .input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
  }

  .btn-submit {
    color: #fff;
    background-color: #e74c3c;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 50px 0 100px;
  }
  
  .btn-submit:hover{
    background-color: #e66456;
  }
  /*.btn:after{
  content:"";
  position:absolute;
  background:rgba(0,0,0,0.50);
  top:0;
  right:0;
  width:100%;
  height:100%;
}*/
  .input-container input:focus~label,
  .input-container input:valid~label {
    top: -12px;
    font-size: 12px;

  }

  .input-container p{
    /* display: none; */
    color: red;
  }

  /* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2; */

.google-btn {
  width: 200px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.fb-btn {
    width: 200px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }

.fb-btn a{
    text-decoration: none;
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
}

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-btn:active {
    background: #1669F2;
  }


@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.pro-box{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1100px;
    height: 700px;
    transform: translate(-50%, -50%);
    background-color: rgba(84, 84, 84);
    border-radius: 3px;
    padding: 70px 100px;
    box-shadow:5px 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.content-detail{
  
  padding: 5%;
  display: flex;
}

.content-left{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.img-details {
  padding-bottom: 20px;
  width: 70%;
}

.title-detail{
  text-align: center;
  color: white;
}

.content-right {
  color: white;
}

.content-right button{
  border: none;
  border-radius: 2px;
  padding: 3px;
  margin: 5px;
  background-color: #4f4d4d;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

.content-right button:hover{

  background-color: #7d7777;
  color: #58332f;
}

.bottom-content{
  margin: 0;
  background-color: #232222;
  padding-bottom: 20px;
}


.line{
  border: 1px solid black;
  width: 100%; 
}

.comment-section{
  height: 100%;
  background-color: white;
  margin: 20px;
  padding: 50px;
}

.comment-box,.comment{
  display: flex;
  align-items: center;  

}

.comment-box img, .comment img{
  display: inline-block;
  width: 50px;
  height: 100%;
  margin-right: 10px;
}

.comment-box form{
  width: 100%;
  height: 50px;
}

.comment-box input{
  width: 90%;
  height: 100%;
  padding-left: 10px;
}

.comment-box button{
  background-color: #91adda;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 13px;
}

.comment .cmt-name{
  padding-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
}

h2{
  color: white;
  padding-left: 20px;
}

.video-container{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* This creates a 16:9 aspect ratio */
  position: relative;
}

.main .movie-title{
  color: white;
  margin-bottom: -50px;
  padding: 20px 50px ;
}

video{
  margin-top: 10px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

video::-webkit-media-controls-progress-bar {
  background-color: red;
}

.watch-film .save-btn{
  
  justify-content: right;
  
}

.footer {
    width: 100%;
    height: 300px;
    background-color: rgb(79, 77, 77);
}