<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phim Lậu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-image: url("img/1386514.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      }
      
      .left-line, .right-line {
        flex-grow: 1;
        height: 1px;
        background-color: gray;
        margin: 0 10px;
      }
      
      .word {
        
        color: white;
      }

    
    </style>
</head>

<body>
    <div class="header">
        <nav>
            <nav class="header-left col-md-7">
                <a href="/"><img id="img-logo" src="img/logo.png" alt="this is a picture"></a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tv Show</a></li>
                    <li><a href="#">Movie</a></li>
                    <li><a href="#">Category</a></li>
                </ul>
            </nav>
            <nav class="header-right col-md-5">
                <div class="search-bar">
                    <input class="search-input" type="text" placeholder="Type to search a movie">
                    <button class="search-btn" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="ddl-profile-menu">
                    <!-- <a href="#">Login</a> -->

                    <a class="ddl-profile" href="profile.html"><img src="img/profile-logo.png" alt="this is a picture"> User Name</a>
                    <div class="ddl-profile-content">
                        <a href="/user-profile">Profile Details</a>
                        <a href="/user-update">Account Setting</a>
                        <a href="/logout">Log Out</a>
                    </div>
                </div>
            </nav>
        </nav>
    </div>
    <div class="pro-box">
        <div class="pro-content">
            <div  class="pro-content-left">
                <ul>
                    <a href="/user-profile"><li >User Information</li></a>
                    <li class="content-left-selected">Account Setting</li>
                    <a href="/user-premium"><li>Premium</li></a>
                    
                </ul>
            </div>
            <div class="pro-content-right">
                <div class="detail-left col-md-8">
                    <form action="/user-update" method="post" th:object="${user}">
                        <ul>
                            <li>User Name </li>
                            <input type="text" th:field="*{userName}">
                            <li>Old Password </li>
                            <input type="text" th:field="*{password}">
                            <li>New Password </li>
                            <input type="text" id="newPwd" name="newPwd" >
                        </ul>
                        <p th:text="${flag} ?: ''"></p>
                        <button type="submit">Save Change</button>
                    </form>

                </div>
                <div class="img-right col-md-4">
                    <img src="img/profile-logo.png" alt="">
                    <!-- <a  href="#"><button class="btn-logout">Log Out</button></a> -->
                </div>
            </div>
        </div>
        
    </div>
    <div class="blank">
        
    </div>
    <script src="app.js"></script>
</body>


</html>